<!--Creating a form that permits the user to update the employee's information(MySQL) -->

<body>
    <h1>Edit Employee</h1>
    <% if(errors !=undefined) { %>
        <ul>
            <% errors.forEach((error)=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>
            <form action="/employees/edit/:eid" method="POST">
                <label>EID</label>
                <input type="text" name="eid" value="<%=employee.eid %>" disabled>
                <input type="text" name="eid" value="<%=employee.eid %>" hidden>
                <br>
                <label>Name</label>
                <input type="text" name="ename" value="<%=employee.ename %>">
                <br>
                <label>Role</label>
                <input type="text" name="role" value="<%=employee.role %>">
                <br>
                <label>Salary</label>
                <input type="text" name="salary" value="<%=employee.salary %>">
                <input type="submit" value="Update">
            </form>
</body>